# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://baplmvasklnqnawnncmo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJhcGxtdmFza2xucW5hd25uY21vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU2MzYyNjksImV4cCI6MjA4MTIxMjI2OX0.WsCcRYxNEk1kc3OfBrf875eJvDDCAfr1OE8zBYWNeOk
